<nav class="navigation-content">
    <div>
        <span>E-commerce</s>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contacts</a></li>
        <li><a href="/about">About me</a></li>
    </ul>
</nav>